<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/bootstrap.min.css"
</head>
<body>
    
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>

</div>

</body>
</html>

{% extends 'layout.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
    <form action="{% url 'password' %}" class="card card-body p-5 border-primary"

        style="background-color: #121212">

        <div class="text-center text-primary">
            <h1 class="h2">BRAINSTORM</h1>
        </div>
        
        <div class="text-center">
            <h1 class="h2">Password Generate</h1>
        </div>
        
        <label for="length">Seleccion de opciones para su contraseña:</label>
        <select name="length" id="length" class="form-control">
            <option value="6">6 Characters</option>
            <option value="7">7 characters</option>
            <option value="8">8 characters</option>
            <option value="9">9 characters</option>
            <option value="10">10 characters</option>
            <option value="11">11 characters</option>
            <option value="12">12 characters</option>
            <option value="13">13 characters</option>
            <option value="14">14 characters</option>
        </select>
    
        <div class="form-check form-switch my-2">
            <label for="uppercase" class="form-check-label">Mayuscula</label>
            <input type="checkbox" name="uppercase" id="Uppercase" class="form-check-input">
        </div>
    
        <div class="form-check form-switch my-2">
            <label for="special" class="form-check-label">Escpecial Caracteres</label>
            <input type="checkbox" name="special" id="special" class="form-check-input">
        </div>
    
        <div class="form-check form-switch my-2">
            <label for="numbers" class="form-check-label">Numeros</label>
            <input type="checkbox" name="numbers" id="numbers" class="form-check-input">
        </div>
    
        <button class="btn btn-primary">Generar Contraseña</button>
    
    </form>

</div>

{% endblock %}

{% extends 'layout.html' %}

{% block content %}

<h1>Sobre nosotros</h1>
<h1>Grupo: BRAINSTORM</h1>

<p>En una era impulsada por la tecnología, proteger nuestra información personal se ha vuelto más crucial que nunca. En este sentido, una de las primeras líneas de defensa es utilizar una contraseña segura y aleatoria.

Una contraseña segura y aleatoria actúa como una barrera infranqueable para los ciberatacantes. Al crear una contraseña con una combinación de letras, números y caracteres especiales de forma aleatoria, se hace prácticamente imposible que alguien adivine o descifre la contraseña. Esto es especialmente importante porque muchas personas tienden a utilizar contraseñas comunes o fáciles de recordar, lo que las hace vulnerables a ataques de fuerza bruta o adivinación.</p>

<p>Por último, es importante recordar que una contraseña no debe ser compartida con nadie, ni siquiera con familiares o amigos cercanos. Es nuestra responsabilidad mantener nuestras contraseñas de forma privada y segura para garantizar la protección de nuestra información vital.</p>

<p>Como grupo, sentimos la responsabilidad de aportar nuestro granito de arena. En nuestro recorrido de aprendizaje queremos ofrecer un servicio que le aporte seguridad.</p>

{% endblock %}

{% extends 'layout.html' %}

{% block content %}

<div class="col-md-4 offset-md-4">
    <div class="card card-body bg-dark border-primary text-center">
        <h1>Contraseña</h1>

        <p>{{password}}</p>
    </div>
</div>

{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body style="background-color: #212121">

    {% include 'partials/_navbar.html' %}
    
    <div class="container p-5 text-light">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
